.MainPage__MarcketCrypto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
}
.MainPage__MarcketCrypto img {
  width: 35%;
  height: 55%;
}

.MainPage__MarcketCrypto--title {
  padding: 0 4rem 0 10rem;
}
.MainPage__MarcketCrypto--title h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
}
.MainPage__MarcketCrypto--title > p {
  font-size: 1.2rem;
  font-weight: 600;
}
.MainPage__MarcketCrypto--title-package a {
  width: 45%;
}
.MainPage__MarcketCrypto--title-package {
  display: flex;
  flex-wrap: wrap;
}
.MainPage__MarcketCrypto--title-package a {
  margin: 5px 10px;
  text-decoration: none;
}
@media (max-width: 965px) {
  .MainPage__MarcketCrypto {
    display: flex;
    flex-direction: column;
  }
  .MainPage__MarcketCrypto img {
    width: 75%;
    height: 85%;
  }
  .MainPage__MarcketCrypto--title {
    padding: 0 1rem 0 2rem;
  }
  .MainPage__MarcketCrypto--title-package a {
    width: 90%;
  }
  .MainPage__MarcketCrypto--title-package {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
